# Запускать скрипт в 0 минут каждого часа.
# Весь вывод (и ошибки) будут писаться в лог-файл.
0 * * * * python /app/recalc_job.py >> /var/log/cron.log 2>&1
# ВАЖНО: В конце файла должна быть пустая строка! Cron этого требует.

